body {
  font-family: "Roboto", sans-serif;
}

header {
  position: sticky;
  top: 0;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: 40;
  background-color: #fff;
  padding: 1rem 0;
}

header div.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 2rem;
}

.title {
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 0.75rem;
  border: 2px solid #0078b8;
  text-wrap: nowrap;
  color: #0078b8;
}

main {
  width: 90%;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  div.entrypoint {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  div.entrypoint {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
  }
}

div.top {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.aside {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.content {
  grid-column: span 4 / span 4;
}

div.aside-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.bottom {
  grid-column: 1 / -1;
}

div.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

div.modal div.container {
  display: grid;
  padding: 3rem;
  border-radius: 30px;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  background-color: #fff;
}
@media (min-width: 768px) {
  div.modal div.container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  div.modal div.container {
    grid-template-columns: repeat(4, 1fr);
  }
}

div.modal select {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
}

div.modal div.first-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  div.modal div.first-section {
    flex-direction: row;
  }
}
div.modal .full-row {
  grid-column: 1 / -1;
}
div.modal div.first-section div {
  flex-grow: 1;
}

button.dev {
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  text-wrap: nowrap;
  color: #0078b8;
  cursor: pointer;
}

div.modal input {
  display: block;
  width: 100%;
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  color: #333;
  width: 100%;
}

div.modal .hint {
  font-size: 0.75rem;
  border: 1px solid #0078b8;
  color: #0078b8;
  padding: 0.5rem 1rem;
}
